@media(orientation:landscape){
    .leftSection{
    display: inline-block;
    padding-top: 75px;
    width: 15%;
    height: 100%;
    max-height: 100%;
    position: fixed;
    top: 0;
    align-items: center;
    background-color: rgb(43, 43, 43);
    }
    .leftSection p{
        margin-top: 4%;
        margin-left: 2%;
        margin-right: 2%;
    }
    .imgPerfil{
        width: 50%;
        border-radius: 100%;
        box-shadow: 0 0 20px rgb(136, 136, 136);
    }
    .iconosContacto{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .iconosContacto img{
        width: 30px;
        opacity: 0.6;
        transition: opacity 300ms ease;
    }
    .iconosContacto img:hover{
        opacity: 1;
    }
    .infoContacto{
        height: 75%;
        max-height: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .subPresentacion{
        color: black;
    }
    .iconosIdioma{
        margin-top: 10%;
    }
    .iconosIdioma img{
        margin: 2%;
        width: 13%;
    }
    .iconosIdioma a{
        filter: grayscale(50%);
        transition: 300ms ease;
    }
    .iconosIdioma a:hover{
        filter: grayscale(0%);
    }
    .iconosIdioma a:focus{
        filter: grayscale(0%);
    }
}
@media (orientation: portrait){
    .leftSection{
        display: none;
        width: 0;
    }
    .imgPerfil{
        width: 50%;
        border-radius: 100%;
        box-shadow: 0 0 20px rgb(136, 136, 136);
    }
}
@media (min-width: 500px) and (max-width:1000px) and (orientation: landscape){
    .iconosContacto{
        display: none;
    }
    .subPresentacion{
        font-size: 14px;
    }
}

